@model List<SQL_Challenge_DIO.Controllers.JoinsController.MainCharacterByMovie>
@using static SQL_Challenge_DIO.Controllers.JoinsController

@{
    Layout = "~/Views/Shared/_SolutionLayout.cshtml";
}


<h3 class="text-center">Twelfth Solution</h3>
<br/>
<h5>SELECT Statement:</h5>
<br/>
<div>
<h6 class="statement">
   @Html.Raw(@GetTwelfthQuery())
</h6>
</div>    
<br/>
<table class="table table-sm table-hover table-bordered table-striped">
    <tr>
        <th class="text-center">Movie Title</th>
        <th class="text-center">First Name</th>
        <th class="text-center">Last Name</th>
        <th class="text-center">Role</th>
    </tr>
    @foreach(var character in Model){
    <tr>
        <td class="text-center">@character.MovieTitle</td>
        <td class="text-center">@character.ActorFirstName</td>
        <td class="text-center">@character.ActorLastName</td>
        <td class="text-center">@character.CharacterName</td>
    </tr>
    }

</table>
<div>
    
</div>