@model List<SQL_Challenge_DIO.Models.ActorActress>
@using static SQL_Challenge_DIO.Controllers.ActorActressController

@{
    Layout = "~/Views/Shared/_SolutionLayout.cshtml";
}


<h3 class="text-center">Eighth Solution</h3>
<br/>
<h5>SELECT Statement:</h5>
<br/>
<div>
<h6 class="statement">
   @Html.Raw(GetEighthQuery())
</h6>
</div>    
<br/>
<table class="table table-sm table-hover table-bordered table-striped">
    <tr>
        <th class="text-center">Id</th>
        <th class="text-center">First Name</th>
        <th class="text-center">Last Name</th>
        <th class="text-center">Gender</th>
    </tr>
    @foreach(var actor in Model){
    <tr>
        <td class="text-center">@actor.Id</td>
        <td class="text-center">@actor.FirstName</td>
        <td class="text-center">@actor.LastName</td>
        <td class="text-center">@actor.Gender</td>
    </tr>
    }

</table>
<div>
    
</div>